<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabla de Usuarios</title>
    <style>
        td{
            padding: 5px;
            text-align: center;
        }
        th{
            background-color: #4CAF50;
            text-align: center;
        }
    </style>
</head>
<body>
    <!-- Ejemplo de bucle for en una plantilla -->
    
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Nombre del usuario</th>
            <th>Numero del usuario</th>
            <th>Fecha de creacion</th>
        </tr>
        
        {% for user in usuarios %}
            <tr >
                <td>{{ user.id }}</td>
                <td>{{ user.nombre }}</td>
                <td>{{ user.numero }}</td>
                <td>{{ user.fecha.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                <!-- <td>{{ user.fecha }}</td> -->
            </tr>
        {% endfor %}
    </table>

</body>
</html>
