{% extends './index_sqlalchemy.html' %}

{% block container %}
    <form action="{{ url_for('delete') }}" method="POST">
        <table border="1">
            <tr>
                <th>ID</th>
                <th>Nombre del usuario</th>
            </tr>
            
            {% for user in usuarios %}
                <tr>
                    <td><input type="checkbox" name="Ids" value="{{ user.Id }}" id="Id_{{ user.Id }}"></td>
                    <td>{{ user.Id }}</td>  
                    <td>{{ user.Nombre }}</td>
                </tr>
            {% endfor %}
        </table>
        <button type="submit" class="btn btn-primary">Eliminar Seleccionados</button>
    </form>
{% endblock %}
