{% extends './index_sqlalchemy.html' %}

{% block container %}


<h1>Hola</h1>
        <form class="form-signin" action="{{ url_for('editar') }}" method="POST">
            <div class="form-group">
                <label for="Ids">Id</label>
                <input type="text" class="form-control" id="Ids" name="Ids" aria-describedby="Ids">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" id="nombre" name="nombre" aria-describedby="nombre">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
{% endblock %}