<!-- Extendemos de la plantilla base.html -->
{% extends './index.html' %}

    <div class="container py-3"><!-- este div contiene el bloque container que es el que tiene el h1 con el Hola mundo en la plantilla index.html -->
        {% block container %}
            <table border="1">
                <tr>
                    <th>ID</th>
                    <th>Nombre del usuario</th>
                    <!-- Agrega más columnas según tu modelo de SQLAlchemy -->
                </tr>
                
                {% for user in usuarios %}
                    <tr>
                        <td>{{ user.Id }}</td>
                        <td>{{ user.Nombre }}</td>
                        <!-- Muestra más columnas según tu modelo de SQLAlchemy -->
                    </tr>
                {% endfor %}
            </table>
        {% endblock %}
    </div>



