<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Nombre del usuario</th>
            <!-- Agrega más columnas según tu modelo de SQLAlchemy -->
        </tr>
        
        {% for user in usuarios %}
            <tr>
                <td>{{ user.Id }}</td>
                <td>{{ user.Nombre }}</td>
                <!-- Muestra más columnas según tu modelo de SQLAlchemy -->
            </tr>
        {% endfor %}
    </table>
    
</body>
</html>